.Header {
  position: relative;
  bottom: 100px;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 35px;
}

.SubHeader {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  position: relative;
  bottom: 80px;
  font-weight: 200;
  font-size: 25px;
}

.Body {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 2;
  position: relative;
  bottom: 50px;
}

.App {
  text-align: center;
  vertical-align: top;
}

.App-header {
  background-color: #5d6d7e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Hr {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  position: relative;
  top: 10px;
}

.Input {
  padding-top: 3px;
  padding-right: 5px;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 200;
  color: #5d6d7e;
  width: 170px;
}

.Profit {
  font-size: 27px;
  font-weight: 600;
}

button {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 200;
  color: #5d6d7e;
  font-size: 15px;
  padding: 3px 6px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.5s;
}

button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
}

button:hover {
  background-color: #cacfd2;
  cursor: pointer;
}

::-webkit-input-placeholder {
  font-size: 15px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 200;
  color: #5d6d7e;
}
::-moz-placeholder {
  font-size: 15px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 200;
  color: #5d6d7e;
}
:-ms-input-placeholder {
  font-size: 15px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 200;
  color: #5d6d7e;
}
::placeholder {
  font-size: 15px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 200;
  color: #5d6d7e;
}

.Select {
  margin-left: 20px;
  font-size: 14px;
  border: none;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  color: #5d6d7e;
  width: 180px;
  color: black;
  display: inline-block;
}
